@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9+Charted&family=Jersey+15&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    display: flex;
    height: 100vh;
    background-image: url('./assets/background.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botao-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    
}
.botao{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    transition: all 0.5s;
    padding: 2vh;
    letter-spacing: 2px;
    text-align: center;
}



.celula{
    display: flex;
    width: 7vh;
    height: 7vh;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    gap: 0px;

}
.jogo-celula-in {
    background: white;
  }
  
.jogo-celula-out {
    background: rgb(75, 73, 73);
  }


@media (max-width:769px) {
    .botao{
        padding: 1vh;
    }

  }