.jogo-int{
    display: grid;
    grid-template-columns: repeat(16, 5.3vh);
}
.celulaINT{
    display: flex;
    flex-direction: row;
    width: 5.3vh;
    height: 5.3vh;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}